.tw-calendar-time-range-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.tw-calendar-event-calendar-sidebar-item {
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
}
