.tw-calendar-layout-create-new-tiddler-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.tw-calendar-layout-create-new-tiddler-popup .tw-calendar-title-input {
  width: 100%;
}
.tw-calendar-layout-create-new-tiddler-popup {
  margin: 10px 0;
}
.tw-calendar-layout-create-new-tiddler-popup .tw-calendar-tags-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
.tw-calendar-frequently-used-tags {
  max-width: 100%;
  overflow-x: auto;
}
.tw-calendar-layout-create-new-tiddler-popup .tw-calendar-tags-input .tc-edit-tags {
  padding-left: 0;
  border: unset;
  width: 180%;
}
.tw-calendar-empty-list-help-text {
  margin: 0;
}
.tw-calendar-layout-create-new-tiddler-popup .tc-edit-texteditor {
  width: 100%;
}

.tw-calendar-footer-buttons {
  display: flex;
  justify-content: space-between;
}
.tw-calendar-footer-button {
  width: 50%;
  height: 3em;
  margin-top: 10px;
}

span.tc-add-tag-name input {
  min-width: 5em;
}
.tw-calendar-alarms {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  width: 100%;
  margin-top: 2em;
}
.tw-calendar-alarms input.alarmMsg {
  margin-top: 0.5em;
  width: 100%;
}
.tw-calendar-alarms input.alarmEdit {
  width: 2em;
}
.tw-calendar-alarms input.alarmEdit.alarmEditYear {
  width: 4em;
}
.tw-calendar-alarms .alarmTable td {
  vertical-align: middle;
}