div.tc-page-container.calendar-statistic-chart-layout-container {
  margin-top: 0px;
  height: 100vh;
  width: 100%;
}
.calendar-statistic-chart-layout-main-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.calendar-statistic-chart-draggable-region {
  cursor: grab;
  -webkit-app-region: drag;
}
.calendar-statistic-chart-layout-gauge-list-container {
  display: grid;
}
.calendar-statistic-chart-layout-gauge-item-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.calendar-statistic-chart-layout-gauge-item-title {
  margin-top: 0;
}
.calendar-statistic-chart-layout-gauge-item-body {
  display: flex;
  flex-direction: column;
}