div.tc-page-container.calendar-statistic-chart-layout-container {
  margin-top: 0px;
  height: 100vh;
  width: 100%;
}
.calendar-statistic-chart-layout-main-area {
  height: 100%;
  width: 100%;
}

.calendar-statistic-chart-draggable-region {
  cursor: grab;
  -webkit-app-region: drag;
}

.calendar-statistic-chart-search-layout-main-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
